<template>
  <div class="mhs">
    <h2>Detail Barang</h2>
    <table class="table table-striped">
      <thead>
        <th>id</th>
        <th>Nama Barang</th>
        <th>Harga</th>
        <th>id Supplier</th>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ this.id }}
          </td>
          <td>
            {{ this.nama }}
          </td>
          <td>
            {{ this.harga }}
          </td>
          <td>
            {{ this.id_suplier }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "brg",
  data() {
    return {
      nama: "",
      id: "",
      harga: "",
      id_suplier: "",
    };
  },
  methods: {
    async getBarang(id) {
      console.log(id);
      const barangdetail = await fetch(`http://127.0.0.1:8001/api/barang/${id}`)
        .then((res) => res.json())
        .then((result) => result)
        .catch((err) => console.log(err));

      //console.log(mahasiswaDetail);
      this.nama = barangdetail.nama_barang;
      this.id = barangdetail.id_barang;
      this.harga = barangdetail.harga;
      this.id_suplier = barangdetail.id_suplier;
    },
  },
  mounted() {
    this.getBarang(this.$route.params.id);
  },
};
</script>

<style>
</style>
