<template>
  <div class="container">
    <form id="find" @submit.prevent="getBarang">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">ID Barang</label>
        <input class="form-control" id="id" v-model="id" />
      </div>
      <button type="submit" class="btn btn-primary">Cari</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "cari",

  data() {
    return {
      id: "",
    };
  },
  methods: {
    async getBarang() {
      const barang = await fetch(`http://127.0.0.1:8001/api/barang/${this.id}`)
        .then((res) => res.json())
        .then((result) => result)
        .catch((err) => console.error(err));

      this.$router.push(`/brg/${barang.id_barang}`);
    },
  },
};
</script>

<style>
</style>
