<template>
  <div class="home">
    <h2>Tabel Barang</h2>
    <div class="containner">
      <table class="table table-striped">
        <thead>
          <th>id</th>
          <th>Nama Barang</th>
          <th>Harga</th>
          <th>id Supplier</th>
        </thead>
        <tbody v-for="barang in barangs" :key="barang.id">
          <tr>
            <th scope="row">{{ barang.id_barang }}</th>
            <td>{{ barang.nama_barang }}</td>
            <td>{{ barang.harga }}</td>
            <td>{{ barang.id_suplier }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-primary" @click.prevent="open">Temukan</button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios";

export default {
  name: "Home",
  data() {
    return {
      barangs: [],
    };
  },
  methods: {
    setBarangs(data) {
      this.barangs = data;
    },
    open() {
      this.$router.push(`/cari`);
    },
  },
  mounted() {
    axios
      .get("http://127.0.0.1:8001/api/barang")
      .then((response) => this.setBarangs(response.data))
      .catch((error) => console.log(error));
  },
};
</script>
