<template>
  <div>
    <h2>Daftar Supplier</h2>
    <div class="containner">
      <table class="table table-striped">
        <thead>
          <th>id</th>
          <th>Nama Supplier</th>
          <th>Alamat</th>
          <th>cp</th>
        </thead>
        <tbody v-for="supplier in suppliers" :key="supplier.id_suplier">
          <tr>
            <th scope="row">{{ supplier.id_suplier }}</th>
            <td>{{ supplier.nama_supplier }}</td>
            <td>{{ supplier.alamat }}</td>
            <td>{{ supplier.cp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Supplier",
  data() {
    return {
      suppliers: [],
    };
  },
  methods: {
    setSuppliers(data) {
      this.suppliers = data;
    },
  },
  mounted() {
    axios
      .get("http://127.0.0.1:8001/api/suplier")
      .then((response) => this.setSuppliers(response.data))
      .catch((error) => console.log(error));
  },
};
</script>

<style>
</style>
